###############################################################################
# TI Android Config Options
# Use to set additional android options exclusively for TI products
# Note:
# Use android/configs/android-base.cfg to set google android base options
# Use android/configs/android-recommended.cfg to set google android
# recommended options
###############################################################################
CONFIG_CMDLINE="root=/dev/mmcblk0p2 rw init=/init rootfstype=ext4 rootwait console=ttyS0,115200 androidboot.console=ttyS0 androidboot.hardware=jacinto6evmboard"
CONFIG_CMDLINE_EXTEND=y

# IPC
CONFIG_REMOTEPROC=y
CONFIG_OMAP_REMOTEPROC=y
CONFIG_RPMSG_RPC=y

# Firmware loader Helper needed by IPC
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y

# SW_SYNC
CONFIG_SW_SYNC=y
CONFIG_SW_SYNC_USER=y
